

#ef_copy2_2x {
	left:148px;
	top:31px;
	width:142px;
	height:20px;
	background-image:url(../img/ef_copy2_2x.png);
	background-size:142px 20px;
}

#ef_copy3_2x {
	left:149px;
	top:55px;
	width:141px;
	height:23px;
	background-image:url(../img/ef_copy3_2x.png);
	background-size:141px 23px;
}

#ef_copy4_2x {
	left:149px;
	top:82px;
	width:141px;
	height:17px;
	background-image:url(../img/ef_copy4_2x.png);
	background-size:141px 17px;
}
