

#ef_copy2_2x {
	left:31px;
	top:226px;
	width:241px;
	height:34px;
	background-image:url(../img/ef_copy2_2x.png);
	background-size:241px 34px;
}

#ef_copy3_2x {
	left:32px;
	top:267px;
	width:239px;
	height:39px;
	background-image:url(../img/ef_copy3_2x.png);
	background-size:239px 39px;
}

#ef_copy4_2x {
	left:32px;
	top:313px;
	width:239px;
	height:29px;
	background-image:url(../img/ef_copy4_2x.png);
	background-size:239px 29px;
}
