

#ef_copy1_2x {
	left:383px;
	top:16px;
	width:94px;
	height:41px;
	background-image:url(../img/ef_copy1_2x.png);
	background-size:94px 41px;
}

#ef_copy2_2x {
	left:311px;
	top:65px;
	width:241px;
	height:35px;
	background-image:url(../img/ef_copy2_2x.png);
	background-size:241px 35px;
}

#ef_copy3_2x {
	left:311px;
	top:106px;
	width:239px;
	height:39px;
	background-image:url(../img/ef_copy3_2x.png);
	background-size:239px 39px;
}

#ef_copy4_2x {
	left:312px;
	top:152px;
	width:238px;
	height:29px;
	background-image:url(../img/ef_copy4_2x.png);
	background-size:238px 29px;
}
