

#cheese_2x {
	left:227px;
	top:145px;
	width:72px;
	height:63px;
	background-image:url(../img/cheese_2x.png);
	background-size:72px 63px;
}

#cta_2x {
	left:10px;
	top:153px;
	width:122px;
	height:67px;
	background-image:url(../img/cta_2x.png);
	background-size:122px 67px;
}

#legal_2x {
	left:47px;
	top:228px;
	width:51px;
	height:17px;
	background-image:url(../img/legal_2x.png);
	background-size:51px 17px;
}
